<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="true">


	<!-- 核心Compass Bean,search及index时使用 -->
	<bean id="compass" class="org.compass.spring.LocalCompassBean">
		<!-- anontaition式设置 -->
		<property name="classMappings">
			<list>
				<value>com.logo.eshow.model.Album</value>
			</list>
		</property>

		<property name="compassConfiguration">
			<bean
				class="org.compass.annotations.config.CompassAnnotationsConfiguration" />
		</property>

		<property name="connection">
			<value>/lucene/indexes</value>
		</property>

		<property name="compassSettings">
			<props>
				<prop key="compass.transaction.factory">
					org.compass.spring.transaction.SpringSyncTransactionFactory
				</prop>
				<!--prop
					key="compass.engine.analyzer.MMAnalyzer.CustomAnalyzer">
					jeasy.analysis.MMAnalyzer
				</prop>
				<prop
					key="compass.engine.analyzer.default.filters">
					MMAnalyzerFilter
				</prop>
				<prop
					key="compass.engine.analyzerfilter.MMAnalyzerFilter.type">
					com.logo.eshow.webapp.filter.MMAnalyzerFilter
				</prop-->
				<prop
					key="compass.engine.highlighter.default.formatter.simple.pre">
					<![CDATA[<font color="red"><b>]]>
				</prop>
				<prop
					key="compass.engine.highlighter.default.formatter.simple.post">
					<![CDATA[</b></font>]]>
				</prop>
			</props>
		</property>

		<property name="transactionManager" ref="transactionManager" />
	</bean>

	<!-- Compass中建立索引与mirror database change的部件 -->
	<bean id="compassGps" class="org.compass.gps.impl.SingleCompassGps"
		init-method="start" destroy-method="stop">
		<property name="compass" ref="compass" />
		<property name="gpsDevices">
			<list>
				<bean
					class="org.compass.spring.device.hibernate.dep.SpringHibernate3GpsDevice">
					<property name="name" value="hibernateDevice" />
					<property name="sessionFactory"
						ref="sessionFactory" />
				</bean>
			</list>
		</property>
	</bean>

	<bean id="compassSearchService"
		class="com.logo.eshow.compass.CompassSearchService">
		<property name="compass" ref="compass" />
		<property name="pageSize" value="15" />
	</bean>

	<!-- 自动随Spring ApplicationContext启动而重建索引 -->
	<bean id="compassIndexBuilder"
		class="com.logo.eshow.compass.CompassIndexBuilder"
		lazy-init="false">
		<property name="compassGps" ref="compassGps" />
		<property name="buildIndex" value="true" />
		<property name="lazyTime" value="10" />
	</bean>
</beans>
