<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
    	<mapping class="com.logo.eshow.model.Album"/>
    	<mapping class="com.logo.eshow.model.App"/>
    	<mapping class="com.logo.eshow.model.Board"/>
    	<mapping class="com.logo.eshow.model.Category"/>
    	<mapping class="com.logo.eshow.model.Info"/>
    	<mapping class="com.logo.eshow.model.BlogComment"/>
    	<mapping class="com.logo.eshow.model.Blog"/>
    	<mapping class="com.logo.eshow.model.Feedback"/>
    	<mapping class="com.logo.eshow.model.Photo"/>
    	<mapping class="com.logo.eshow.model.PhotoComment"/>
    	<mapping class="com.logo.eshow.model.Post"/>
    	<mapping class="com.logo.eshow.model.Role"/>
    	<mapping class="com.logo.eshow.model.Service"/>
    	<mapping class="com.logo.eshow.model.ServiceType"/>
    	<mapping class="com.logo.eshow.model.Thumb"/>
    	<mapping class="com.logo.eshow.model.ThumbImg"/>
    	<mapping class="com.logo.eshow.model.Topic"/>
    	<mapping class="com.logo.eshow.model.TopicComment"/>
    	<mapping class="com.logo.eshow.model.Twitter"/>
    	<mapping class="com.logo.eshow.model.TwitterComment"/>
    	<mapping class="com.logo.eshow.model.ProductCategory"/>
    	<mapping class="com.logo.eshow.model.Product"/>
    	<mapping class="com.logo.eshow.model.User"/>
    </session-factory>
</hibernate-configuration>